<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <title>ramensearch</title>

</head>

<body>
    <table class="list" border="3">
        <tr>
            <th>ID</th>
            <th>店名</th>
            <th>ジャンル</th>
        </tr>
        <tr th:each="ramen : ${ramenlist}" th:object="${ramen}">
            <td th:text="${ramen.id}">ああああ</td>
            <td th:text="${ramen.name}">いいいい</td>
            <td th:text="${ramen.genre}">うううう</td>
        </tr>
    </table>
    <form action="/ramen_top" method="get">
        <input type="submit" value="戻る">
      </form>
    
</body>

</html>