<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <title>ramen_photos</title>

</head>

<body>

    <table class="list" border="1">
        <th>画像</th>
        <th>時間</th>
        <tr th:each="element : ${rmList}" th:object="${rmList}">
            <td><img src ="" th:src="${element.getFileName()}"></td>
            <td><p th:text="${element.getLastModified()}"></p></td>
        </tr>
    </table>
    <form action="/ramen_top" method="get">
        <input type="submit" value="戻る">
    </form>


</body>

</html>